# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
cmake-build-debug

CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Docs/INFO_BIN
Docs/INFO_SRC
Makefile
VERSION.dep
client/CMakeFiles/
client/CTestTestfile.cmake
client/Makefile
client/base/CMakeFiles/
client/base/CTestTestfile.cmake
client/base/Makefile
client/base/cmake_install.cmake
client/cmake_install.cmake
client/dump/CMakeFiles/
client/dump/CTestTestfile.cmake
client/dump/Makefile
client/dump/cmake_install.cmake
client/mysql
client/mysql_config_editor
client/mysql_install_db
client/mysql_plugin
client/mysql_secure_installation
client/mysql_ssl_rsa_setup
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlpump
client/mysqlshow
client/mysqlslap
client/mysqltest
cmake_install.cmake
cmd-line-utils/libedit/CMakeFiles/
cmd-line-utils/libedit/Makefile
cmd-line-utils/libedit/cmake_install.cmake
cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/makelist
cmd-line-utils/libedit/vi.h
dbug/CMakeFiles/
dbug/CTestTestfile.cmake
dbug/Makefile
dbug/cmake_install.cmake
extra/CMakeFiles/
extra/CTestTestfile.cmake
extra/Makefile
extra/cmake_install.cmake
extra/comp_err
extra/innochecksum
extra/lz4_decompress
extra/my_print_defaults
extra/perror
extra/protobuf/CMakeFiles/
extra/protobuf/Makefile
extra/protobuf/cmake_install.cmake
extra/protobuf/protoc
extra/replace
extra/resolve_stack_dump
extra/resolveip
extra/yassl/CMakeFiles/
extra/yassl/Makefile
extra/yassl/cmake_install.cmake
extra/yassl/taocrypt/CMakeFiles/
extra/yassl/taocrypt/Makefile
extra/yassl/taocrypt/cmake_install.cmake
extra/zlib_decompress
include/CMakeFiles/
include/CTestTestfile.cmake
include/Makefile
include/cmake_install.cmake
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_error.h
include/sql_state.h
info_macros.cmake
install_manifest.txt
libbinlogevents/CMakeFiles/
libbinlogevents/CTestTestfile.cmake
libbinlogevents/Makefile
libbinlogevents/cmake_install.cmake
libbinlogevents/include/binlog_config.h
libbinlogevents/src/CMakeFiles/
libbinlogevents/src/CTestTestfile.cmake
libbinlogevents/src/Makefile
libbinlogevents/src/cmake_install.cmake
libbinlogstandalone/CMakeFiles/
libbinlogstandalone/CTestTestfile.cmake
libbinlogstandalone/Makefile
libbinlogstandalone/cmake_install.cmake
libbinlogstandalone/src/CMakeFiles/
libbinlogstandalone/src/CTestTestfile.cmake
libbinlogstandalone/src/Makefile
libbinlogstandalone/src/cmake_install.cmake
libevent/CMakeFiles/
libevent/Makefile
libevent/cmake_install.cmake
libmysql/CMakeFiles/
libmysql/CTestTestfile.cmake
libmysql/Makefile
libmysql/api_test.c
libmysql/cmake_install.cmake
libmysql/libmysql.ver
libmysql/libmysql_api_test
libmysql/libmysql_exports_file.cc
libmysql/libmysqlclient.so.20
libmysql/libmysqlclient.so.20.3.4
libmysql/merge_archives_mysqlclient.cmake
libmysql/mysqlclient_depends.c
libmysqld/CMakeFiles/
libmysqld/CTestTestfile.cmake
libmysqld/Makefile
libmysqld/cmake_install.cmake
libmysqld/examples/CMakeFiles/
libmysqld/examples/CTestTestfile.cmake
libmysqld/examples/Makefile
libmysqld/examples/cmake_install.cmake
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
libmysqld/lex_hash.h
libmysqld/lex_token.h
libmysqld/merge_archives_mysqlserver.cmake
libmysqld/mysqlserver_depends.c
libmysqld/sql_hints.yy.cc
libmysqld/sql_hints.yy.h
libmysqld/sql_yacc.cc
libmysqld/sql_yacc.h
libservices/CMakeFiles/
libservices/CTestTestfile.cmake
libservices/Makefile
libservices/cmake_install.cmake
make_dist.cmake
man/CMakeFiles/
man/CTestTestfile.cmake
man/Makefile
man/cmake_install.cmake
mysql-test/CMakeFiles/
mysql-test/CTestTestfile.cmake
mysql-test/Makefile
mysql-test/cmake_install.cmake
mysql-test/collections/default.release
mysql-test/collections/default.release.done
mysql-test/lib/My/SafeProcess/CMakeFiles/
mysql-test/lib/My/SafeProcess/CTestTestfile.cmake
mysql-test/lib/My/SafeProcess/Makefile
mysql-test/lib/My/SafeProcess/cmake_install.cmake
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysys/CMakeFiles/
mysys/CTestTestfile.cmake
mysys/Makefile
mysys/base64_test
mysys/cmake_install.cmake
mysys/queues
mysys/thr_lock
mysys_ssl/CMakeFiles/
mysys_ssl/CTestTestfile.cmake
mysys_ssl/Makefile
mysys_ssl/cmake_install.cmake
packaging/WiX/CMakeFiles/
packaging/WiX/CTestTestfile.cmake
packaging/WiX/Makefile
packaging/WiX/cmake_install.cmake
packaging/deb-in/CMakeFiles/
packaging/deb-in/CTestTestfile.cmake
packaging/deb-in/Makefile
packaging/deb-in/cmake_install.cmake
packaging/rpm-docker/CMakeFiles/
packaging/rpm-docker/CTestTestfile.cmake
packaging/rpm-docker/Makefile
packaging/rpm-docker/cmake_install.cmake
packaging/rpm-docker/mysql.spec
packaging/rpm-fedora/CMakeFiles/
packaging/rpm-fedora/CTestTestfile.cmake
packaging/rpm-fedora/Makefile
packaging/rpm-fedora/cmake_install.cmake
packaging/rpm-fedora/mysql.spec
packaging/rpm-oel/CMakeFiles/
packaging/rpm-oel/CTestTestfile.cmake
packaging/rpm-oel/Makefile
packaging/rpm-oel/cmake_install.cmake
packaging/rpm-oel/mysql.spec
packaging/rpm-sles/CMakeFiles/
packaging/rpm-sles/CTestTestfile.cmake
packaging/rpm-sles/Makefile
packaging/rpm-sles/cmake_install.cmake
packaging/rpm-sles/mysql.spec
packaging/solaris/CMakeFiles/
packaging/solaris/CTestTestfile.cmake
packaging/solaris/Makefile
packaging/solaris/cmake_install.cmake
plugin/audit_null/CMakeFiles/
plugin/audit_null/CTestTestfile.cmake
plugin/audit_null/Makefile
plugin/audit_null/cmake_install.cmake
plugin/auth/CMakeFiles/
plugin/auth/CTestTestfile.cmake
plugin/auth/Makefile
plugin/auth/cmake_install.cmake
plugin/connection_control/CMakeFiles/
plugin/connection_control/CTestTestfile.cmake
plugin/connection_control/Makefile
plugin/connection_control/cmake_install.cmake
plugin/daemon_example/CMakeFiles/
plugin/daemon_example/CTestTestfile.cmake
plugin/daemon_example/Makefile
plugin/daemon_example/cmake_install.cmake
plugin/fulltext/CMakeFiles/
plugin/fulltext/CTestTestfile.cmake
plugin/fulltext/Makefile
plugin/fulltext/cmake_install.cmake
plugin/innodb_memcached/CMakeFiles/
plugin/innodb_memcached/CTestTestfile.cmake
plugin/innodb_memcached/Makefile
plugin/innodb_memcached/cmake_install.cmake
plugin/keyring/CMakeFiles/
plugin/keyring/CTestTestfile.cmake
plugin/keyring/Makefile
plugin/keyring/cmake_install.cmake
plugin/password_validation/CMakeFiles/
plugin/password_validation/CTestTestfile.cmake
plugin/password_validation/Makefile
plugin/password_validation/cmake_install.cmake
plugin/replication_observers_example/CMakeFiles/
plugin/replication_observers_example/CTestTestfile.cmake
plugin/replication_observers_example/Makefile
plugin/replication_observers_example/cmake_install.cmake
plugin/rewrite_example/CMakeFiles/
plugin/rewrite_example/CTestTestfile.cmake
plugin/rewrite_example/Makefile
plugin/rewrite_example/cmake_install.cmake
plugin/rewriter/CMakeFiles/
plugin/rewriter/CTestTestfile.cmake
plugin/rewriter/Makefile
plugin/rewriter/cmake_install.cmake
plugin/rewriter/install_rewriter.sql
plugin/rewriter/uninstall_rewriter.sql
plugin/semisync/CMakeFiles/
plugin/semisync/CTestTestfile.cmake
plugin/semisync/Makefile
plugin/semisync/cmake_install.cmake
plugin/test_service_sql_api/CMakeFiles/
plugin/test_service_sql_api/CTestTestfile.cmake
plugin/test_service_sql_api/Makefile
plugin/test_service_sql_api/cmake_install.cmake
plugin/test_services/CMakeFiles/
plugin/test_services/CTestTestfile.cmake
plugin/test_services/Makefile
plugin/test_services/cmake_install.cmake
plugin/udf_services/CMakeFiles/
plugin/udf_services/CTestTestfile.cmake
plugin/udf_services/Makefile
plugin/udf_services/cmake_install.cmake
plugin/version_token/CMakeFiles/
plugin/version_token/CTestTestfile.cmake
plugin/version_token/Makefile
plugin/version_token/cmake_install.cmake
rapid/plugin/group_replication/CMakeFiles/
rapid/plugin/group_replication/CTestTestfile.cmake
rapid/plugin/group_replication/Makefile
rapid/plugin/group_replication/cmake_install.cmake
rapid/plugin/group_replication/include/mysql/
rapid/plugin/group_replication/include/xcom/
rapid/plugin/group_replication/xdr_gen/
rapid/plugin/keyring_udf/CMakeFiles/
rapid/plugin/keyring_udf/CTestTestfile.cmake
rapid/plugin/keyring_udf/Makefile
rapid/plugin/keyring_udf/cmake_install.cmake
rapid/plugin/x/CMakeFiles/
rapid/plugin/x/CTestTestfile.cmake
rapid/plugin/x/Makefile
rapid/plugin/x/cmake_install.cmake
rapid/plugin/x/generated/
rapid/plugin/x/mysqlxtest
rapid/unittest/gunit/CMakeFiles/
rapid/unittest/gunit/CTestTestfile.cmake
rapid/unittest/gunit/Makefile
rapid/unittest/gunit/cmake_install.cmake
rapid/unittest/gunit/group_replication/CMakeFiles/
rapid/unittest/gunit/group_replication/CTestTestfile.cmake
rapid/unittest/gunit/group_replication/Makefile
rapid/unittest/gunit/group_replication/cmake_install.cmake
rapid/unittest/gunit/xplugin/CMakeFiles/
rapid/unittest/gunit/xplugin/CTestTestfile.cmake
rapid/unittest/gunit/xplugin/Makefile
rapid/unittest/gunit/xplugin/cmake_install.cmake
regex/CMakeFiles/
regex/CTestTestfile.cmake
regex/Makefile
regex/cmake_install.cmake
regex/re
scripts/CMakeFiles/
scripts/CTestTestfile.cmake
scripts/Makefile
scripts/cmake_install.cmake
scripts/comp_sql
scripts/make_binary_distribution
scripts/mysql_config
scripts/mysql_config.pl
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mysqlclient.pc
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/sql_commands_help_data.h
scripts/sql_commands_sys_schema.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
sql/CMakeFiles/
sql/CTestTestfile.cmake
sql/Makefile
sql/cmake_install.cmake
sql/gen_lex_hash
sql/gen_lex_token
sql/lex_hash.h
sql/lex_token.h
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/share/CMakeFiles/
sql/share/CTestTestfile.cmake
sql/share/Makefile
sql/share/bulgarian/
sql/share/cmake_install.cmake
sql/share/czech/
sql/share/danish/
sql/share/dutch/
sql/share/english/
sql/share/estonian/
sql/share/french/
sql/share/german/
sql/share/greek/
sql/share/hungarian/
sql/share/italian/
sql/share/japanese/
sql/share/korean/
sql/share/norwegian-ny/
sql/share/norwegian/
sql/share/polish/
sql/share/portuguese/
sql/share/romanian/
sql/share/russian/
sql/share/serbian/
sql/share/slovak/
sql/share/spanish/
sql/share/swedish/
sql/share/ukrainian/
sql/sql_builtin.cc
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/archive/CMakeFiles/
storage/archive/CTestTestfile.cmake
storage/archive/Makefile
storage/archive/cmake_install.cmake
storage/blackhole/CMakeFiles/
storage/blackhole/CTestTestfile.cmake
storage/blackhole/Makefile
storage/blackhole/cmake_install.cmake
storage/csv/CMakeFiles/
storage/csv/CTestTestfile.cmake
storage/csv/Makefile
storage/csv/cmake_install.cmake
storage/example/CMakeFiles/
storage/example/CTestTestfile.cmake
storage/example/Makefile
storage/example/cmake_install.cmake
storage/federated/CMakeFiles/
storage/federated/CTestTestfile.cmake
storage/federated/Makefile
storage/federated/cmake_install.cmake
storage/heap/CMakeFiles/
storage/heap/CTestTestfile.cmake
storage/heap/Makefile
storage/heap/cmake_install.cmake
storage/heap/hp_test1
storage/heap/hp_test2
storage/innobase/CMakeFiles/
storage/innobase/CTestTestfile.cmake
storage/innobase/Makefile
storage/innobase/cmake_install.cmake
storage/myisam/CMakeFiles/
storage/myisam/CTestTestfile.cmake
storage/myisam/Makefile
storage/myisam/cmake_install.cmake
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/myisammrg/CMakeFiles/
storage/myisammrg/CTestTestfile.cmake
storage/myisammrg/Makefile
storage/myisammrg/cmake_install.cmake
storage/ndb/CMakeFiles/
storage/ndb/CTestTestfile.cmake
storage/ndb/Makefile
storage/ndb/cmake_install.cmake
storage/partition/CMakeFiles/
storage/partition/CTestTestfile.cmake
storage/partition/Makefile
storage/partition/cmake_install.cmake
storage/perfschema/CMakeFiles/
storage/perfschema/CTestTestfile.cmake
storage/perfschema/Makefile
storage/perfschema/cmake_install.cmake
storage/perfschema/unittest/CMakeFiles/
storage/perfschema/unittest/CTestTestfile.cmake
storage/perfschema/unittest/Makefile
storage/perfschema/unittest/cmake_install.cmake
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_misc-t
storage/perfschema/unittest/pfs_noop-t
storage/perfschema/unittest/pfs_user-oom-t
strings/CMakeFiles/
strings/CTestTestfile.cmake
strings/Makefile
strings/cmake_install.cmake
support-files/CMakeFiles/
support-files/CTestTestfile.cmake
support-files/Makefile
support-files/cmake_install.cmake
support-files/my-default.cnf
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysqld_multi.server
support-files/plugins.files
testclients/CMakeFiles/
testclients/CTestTestfile.cmake
testclients/Makefile
testclients/bug25714
testclients/cmake_install.cmake
testclients/mysql_client_test
unittest/CMakeFiles/
unittest/CTestTestfile.cmake
unittest/Makefile
unittest/cmake_install.cmake
unittest/examples/CMakeFiles/
unittest/examples/CTestTestfile.cmake
unittest/examples/Makefile
unittest/examples/cmake_install.cmake
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/gunit/CMakeFiles/
unittest/gunit/CTestTestfile.cmake
unittest/gunit/Makefile
unittest/gunit/cmake_install.cmake
unittest/mytap/CMakeFiles/
unittest/mytap/CTestTestfile.cmake
unittest/mytap/Makefile
unittest/mytap/cmake_install.cmake
unittest/mytap/t/CMakeFiles/
unittest/mytap/t/CTestTestfile.cmake
unittest/mytap/t/Makefile
unittest/mytap/t/basic-t
unittest/mytap/t/cmake_install.cmake
vio/CMakeFiles/
vio/CTestTestfile.cmake
vio/Makefile
vio/cmake_install.cmake
zlib/CMakeFiles/
zlib/Makefile
zlib/cmake_install.cmake

